In [7]:

#####################Import the packages 
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv
from sklearn import preprocessing, cross_validation, svm


import matplotlib.pyplot as plt 
get_ipython().magic('matplotlib inline')
import seaborn as sn
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
import matplotlib
import numpy
from matplotlib import pyplot
from pandas import read_csv

In [2]:
train = pd.read_csv("transformedTrain.csv")
test = pd.read_csv("transformedtest.csv")

In [3]:
train.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Months since First Donation,Made Donation in March 2007
0,619,0.027027,1.000000,1.000000,1
1,664,0.000000,0.244898,0.270833,1
2,441,0.013514,0.306122,0.343750,1
3,160,0.027027,0.387755,0.447917,1
4,358,0.013514,0.469388,0.781250,0

In [4]:
test.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Months since First Donation
0,659,0.050,0.275,0.520833
1,276,0.525,0.150,0.375000
2,263,0.100,0.000,0.020833
3,303,0.275,0.250,0.375000
4,83,0.100,0.275,0.333333

In [5]:
X = train
Y = train[['Made Donation in March 2007']]

In [6]:
seed = 1234
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, Y, test_size=0.2)